#brand {
    margin: 16px;
}

#brand img {
    width: 16px;
    height: 16px;
}

#brand span {
    font-size: 12px;
    color: #333;
    font-family: "Microsoft Yahei";
}

#brand_list li {
    width: 92px;
    height: 42px;
}

#brand_list li a {
    display: flex;
    width: 92px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#brand_list li:hover {
    border: 1px solid red;
}

#brand_list li:hover img {
    display: none;
}

#brand_list li:hover p {
    display: inline;
    color: #ff4040;
    font-size: 12px;
}

#brand_list li a p {
    display: none;
}



#brand2 {
    border-top: 5px #e5e5e5 solid;
    border-left: 2px solid #e5e5e5;
    border-right: 2px #e5e5e5 solid;
    border-bottom: 2px #e5e5e5 solid;
}

#brand2 ul {
    padding: 10px;
}

#brand2 ul li {
    border: 1px solid #E2E2E2;
}

#brand2 img {
    width: 90px;
    height: 40px;
    padding: 5px;
}

#tab_control {
    display: flex;
    align-items: center;
}

#tab_control :first-child {
    border: 1px solid #E2E2E2;
}

#tab_control li {
    padding: 10px 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#tab_control li img {
    width: 9.6px;
    height: 12px;
    float: right;
    border: none !important;
    opacity: 0.5;
}

#search {
    margin-left: 495px;
    margin-top: 3px;
}

#search img {
    width: 15px;
    position: absolute;
    height: 15px;
    right: 226px;
    top: 458px;
}

#list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#list ul li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#list ul li :first-child {
    width: 184px;
    height: 184px;
}

#list .description {
    display: block;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 192px;
    font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
}

#list .demo :first-child {
    width: 13px !important;
    height: 13px !important;
    position: absolute;
    top: 0px;
    left: 32px;
    border: 1px #e2e2e2 solid;
}

#list .demo :nth-child(2) {
    width: 13px !important;
    height: 13px !important;
    position: absolute;
    top: 15px;
    left: 32px;
    border: 1px #e2e2e2 solid;
}

#list .add_cart {
    width: 90px;
    height: 26px;
    color: #fff;
    line-height: 28px;
    background-color: #ff5c4d;
    border: 1px solid #ff4141;
    position: absolute;
    top: 0px;
    left: 56px;
    border-radius: 2px;
    text-align: center;
    line-height: 22px;
}

#list .comment_bottom {
    display: flex;
    margin: 5px 0;
}


#list .comment_bottom img {
    width: 14px !important;
    height: 14px !important;
}

#list .comment_bottom :nth-child(3) {
    margin-left: 15px;
}

.p_money_page2 {
    height: 18px;
    line-height: 18px;
    font-family: "Century Gothic";
    font-size: 18px;
    color: #e60012;
    font-weight: bold;
    margin: 5px 0;
}

.shop_description {
    position: relative;
}

.shop_description :first-child {
    border: 1px solid red;
    padding: 2px 0;
    color: red;
}

.shop_description :nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Microdoft Yahei";
    color: #999;
    display: inline-block;
    max-width: 94px !important;
    position: absolute;
    top: 4px;
    margin-left: 8px;
}

.shop_description :nth-child(3) {
    width: 11px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 120px;
}

.page {
    margin-top: 20px;
}

.page li:hover {
    border: 1px solid #F2855F;
    background: #ff8c64;
    color: #fff;
}

.page li.current {
    border: 1px solid #F2855F;
    background: #ff8c64;
    color: #fff;
}


.page li {
    border: 1px solid #F2F2F2;
    background: #fafafa;
    color: #999;
}

.none {
    display: none !important;
}

.visible {
    display: block;
}
