#small {
    width: 400px;
    height: 400px;
    border: 1px solid #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#small img {
    width: 360px;
    height: 360px;
}
#order_show{
}

#order_show ul {
    height: 60px;
}

#order_show ul li {
    width: 60px;
    height: 60px;
    border: 2px solid #999;
    float: left;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order_show ul li img {
    width: 50px;
    height: 50px;
    /*margin: 2px;*/
}

#self_logo {
    font-size: 12px;
    background-color: #ffefef;
    color: #f66;
    border: 1px solid #f3a3ad;
    margin-right: 8px;
    width: 30px;
    height: 16px;
    line-height: 14px;
    display: inline-block;
    text-align: center;
}

#price_one {

    height: 48px;
    background-color: rgb(253, 229, 224);
    border-top: 1px solid #ffcbc4;
    border-bottom: 1px solid #ffcbc4;
    display: flex;
    align-items: center;
}

#price_one :first-child {
    color: #666;
    width: 60px;
    padding-left: 10px;
}


#price_two {
    padding-left: 65px;
    display: flex;
    align-items: center;
    height: 31px;
    background-color: #fff4f2;
}

#price_two img {
    width: 20px;
    height: 16px;
}

#price_bottom {
    /*background-color: bisque;*/
    width: 497px;
    height: 68px;
    position: relative;
}

#price_bottom div :first-child {
    width: 102px;
    top: 10px;
    left: 10px;
    position: absolute;
    height: 16px;
    line-height: 14px;
    padding: 1px 5px;
    color: #fff;
    background-color: #ff875a;
    border-radius: 1px;
    margin-right: 10px;
}

#price_bottom div :nth-child(2) {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: 120px;
    color: #000 !important;
}

#price_bottom div :nth-child(3) {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: 220px;
    color: #0066CC !important;
}

#price_bottom div :nth-child(4) {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: 365px;
    color: #999 !important;
}

#price_bottom div :last-child {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 12px;
    left: 465px;
    color: #999 !important;
    opacity: 0.3;
}

#pro_list ul {
    display: flex;
    flex-wrap: wrap;
}

#pro_list ul li {
    border: 1px solid #E2E2E2;
    height: 40px;
    /*padding: 10px;*/
    margin: 3px;
    align-items: center;
    display: flex;
    font: 12px Arial, Helvetica, sans-serif !important;
}

#pro_list img {
    width: 30px;
    height: 30px;
}

#address_div {
    position: relative;
    float: left;
    padding: 0 8px;
    height: 24px;
    border: 1px solid #ccc;
    line-height: 24px;
    z-index: 5;
    cursor: pointer;
    width: 106px;
    line-height: 18px;
}

#address_div :nth-child(2) {
    width: 10px;
    position: absolute;
    height: 10px;
    top: 7px;
    right: 14px;
}

#address :nth-child(2) {
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

#address :nth-child(4) {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.font_blue span {
    color: #06c !important;
}

#address_bottom input {
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    border: 1px solid #c8c7cc;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Tahoma;
    line-height: 46px;
    overflow: hidden;
    top: 18px;
}

#address_bottom img {
    width: 24px;
    height: 24px;
    border: 1px solid #e2e2e2;
}

#address_bottom :nth-child(2) {
    position: absolute;
    left: 45px;
    top: 18px;
}

#address_bottom :nth-child(3) {
    position: absolute;
    left: 45px;
    top: 40px;
}

#add_cart {
    width: 138px;
    height: 48px;
    background-position: 0 -691px;
    font-size: 0;
    line-height: 0;
    border: 0;
    border-radius: 0;
    background-color: #ec5547;
    position: absolute;
    top: 18px;
    left: 102px;
    text-align: center;
}

#add_cart span {
    color: white !important;
    font-size: 16px !important;
    position: absolute;
    left: 43px;
    top: 14px;
}

#add_cart img {
    width: 20px;
    height: 20px;
    left: 16px;
    top: 14px;
    position: absolute;
}

#price_down_info span {
    position: absolute;
    top: 46px;
    right: 83px;
    color: #06c !important;;
}

#insurance {
    position: absolute;
    margin-top: 60px;
    padding-top: 20px;
    margin-left: 20px;
    border-top: 2px solid #e2e2e2;
    width: 540px;
    display: flex;
    align-items: center;

}

#insurance :nth-child(2) {
    margin-left: 20px;
}

#insurance img {
    width: 18px;
    height: 16px;
}

#side_rank {
    border: 1px solid #e2e2e2;
    padding: 30px;
    float: right;
    position: absolute;
    top: 271px;
    right: 120px;
}


#side_rank ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side_rank ul li :nth-child(2) {
    flex-direction: column;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 124px;
    justify-content: center;
}

#side_rank ul li :nth-child(3) {
    font-size: 12px !important;
}

#side_rank img {
    width: 120px;
    height: 120px;
}

.before_title {
    background-color: #fe3c3c;
    display: inline-block;
    vertical-align: -2px;
    font-size: 0;
    width: 3px;
    height: 14px;
    margin-right: 8px;
}

.title {
    height: 35px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font: normal 14px/35px '\5FAE\8F6F\96C5\9ED1';
}

.thing_rank_list {

}
.thing_rank_list ul li{
    padding: 10px;
    width: 191px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.thing_rank_list ul li:hover {
    border: 1px solid #ffc8c8;
    box-shadowl: inset 0px 0px 6px #ffc8c8;
}

.thing_rank_list ul li button {
    border-radius: 42px;
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 29px;
    background-position: 0 -463px;
    line-height: 28px;
    color: #333;
    text-align: center;
    border: 1px solid #e2e2e2;
}

.thing_rank_list ul li :nth-child(3) {
    font-size: 15px;
}

.thing_rank_list ul li img{
    width: 115px;
    height: 115px;
}

.thing_rank_list ul li :nth-child(2) {
    height: 36px;
    font-size: 12px;
    line-height: 18px;
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
#rank_category ul {
    display: flex;
    margin: 10px 0;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
}

#rank_category ul li {
    width: 111px;
    height: 42px;
    background-color: #e60012;
    color: white !important;
    position: relative;
    top: -1px;
    left: -1px;
    float: left;
    width: 120px;
    border-right: 1px solid #e1e1e1;
    height: 42px;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-family: 'microsoft yahei';
    font-size: 14px;
    outline: 0;
    z-index: 30;
}

#parameter_specification {
    background-color: #f7f7f7;
    font-size: 12px;
    font-family: simsun;
    border: 1px solid #eaeaea;
    margin-top: 12px;
    padding: 10px;
    overflow: hidden;
    height: 112px;
}

#parameter_specification :first-child {
    float: left;
}

#parameter_specification :nth-child(2) {
    float: right;
}

#parameter_specification dt {
    position: relative;
    height: 30px;
    display: block;
    width: 100%;
    font-size: 14px !important;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    line-height: 30px;
}

#parameter_specification dd {
    margin-right: 1%;
    height: 30px;
    line-height: 30px;
    width: 32.3%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#ad_list img {
    display: block !important;
}

#side_list_pro ul li {
    border-bottom: 0.5px darkblue solid;
}

.notification {
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    color: #555;
    width: 880px;
    height: 380px;
    margin-top: 20px;
}

.tit {
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.con {
    padding-bottom: 12px;
    line-height: 20px;
    font: 12px Arial, Helvetica, sans-serif;
}

.rate {
    display: flex;
    min-height: 154px;
    width: 880px;
    background-color: #fbfbfb;
    border: 1px solid #e2e2e2;
}

.rate_left {
    width: 164px;
    height: 154px;
    position: relative;
    text-align: center;
    border-right: 1px solid #ececec;
}

.rate_left :first-child {
    position: absolute;
    top: 31px;
    left: 60px;
}

.rate_left :nth-child(2) {
    position: absolute;
    top: 61px;
    left: 50px;
}

.rate_left :last-child {
    position: absolute;
    bottom: 31px;
    left: 40px;
}

.rate_right {
    width: 716px;
    height: 154px;
    position: relative;
    padding: 30px;
}

.rate_list label {
    margin-left: 10px;
}

.rate_right span {
    display: inline-block;
    height: 24px;
    margin: 0 5px 10px 0;
    padding: 0 10px;
    border: 1px solid #dadada;
    background: #fff;
    color: #666;
    outline: 0;
    border-radius: 24px;
    line-height: 24px;
}

.rate_list {
    padding-left: 10px;
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    float: left;
    border-bottom: 1px solid #e2e2e2;
    width: 880px;
}

.rate_list input[type="radio"]::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #0069AB;
    margin-right: 15px;
    position: absolute;
    top: 15px;
    left: 0;
}

.rate_list input[type="radio"]:checked::before {
    background-clip: content-box;
    background-color: #0069AB;
    width: 6px;
    height: 6px;
    padding: 2px;
}

.rate_list input[type="radio"] {
    width: 0;
    height: 0;
}

/*.rate_list {*/
/*    margin: 10px 0;*/
/*    float: left;*/
/*    border-bottom: 1px solid #e2e2e2;*/
/*    width: 880px;*/
/*}*/

/*.rate_list ul li {*/
/*    margin: 0 10px;*/
/*    font-size: 14px;*/
/*}*/

#rate_detail {
    width: 844px;
    height: 30px;
}

#rate_detail img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#rate_detail ul li {
    display: flex;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}

.rate_detail_right {
    width: 810px;
}

.flex_center_center {
    display: flex;
    flex-direction: row;
    align-items: center
}

.upload_photo {
    width: 46px;
    height: 46px;
    border: 1px solid red;
    border-radius: 0px !important;
    padding: 2px;
    margin: 2px;
}

.user_comment {
    left: 5px;
    display: block;
    width: 80px;
    position: absolute;
    top: 72px;
}

.user_img {
    position: absolute;
    top: 11px;
    left: 8px;
}

.demo_desc_2 {
    height: 36px;
    font-size: 12px;
    line-height: 18px;
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}

#shadow {
    width: 100px;
    height: 100px;
    background-color: black;
    opacity: .2;
    position: absolute;
    display: none;
    cursor: move;
}

#cover {
    width: 360px;
    height: 360px;
    z-index: 10;
    position: absolute;
    left: 222px;
    top: 283px;
    cursor: move;
}

#big {
    width: 310px;
    height: 310px;
    position: relative;
    overflow: hidden;
    border: 1px solid yellow;
    display: none;
}

button {
    cursor: pointer;
    outline: none;
}
