body {
    background-color: #f8f8f8 !important;
}
#p5_top_ul  {
    display: flex;
    justify-content: space-around;
    width: 910px;
}

#p5_top_ul li {
    width: 100px;
    height: 36px;
    padding: 0 10px;
    font-family: "microsoft yahei";
    font-size: 16px;
    line-height: 36px;
}

.bg_p1 {
    width: 252px;
    height: 472px;
    background-color: rgba(255, 255, 255, 0.6);
    top: 35px;
    position: relative;
    text-align: center;
}

.bg_p1 > span {
    color: #333;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    position: absolute;
    left: 81px;
    top: 28px;
}

.bg_p1 > img {
    position: absolute;
    top: 111px;
    left: 120px;
    height: 76px;
    margin: -38px 0 0 -38px;
    transition: all .3s ease;
    border-radius: 50%;
    border: 1px solid white;
}

.bg_p1_3 {
    position: absolute !important;
    left: 66px !important;
    top: 170px !important;
}

.bg_p1 > div > img {
    width: 38px;
    height: 38px;
}

.bg_p1_img1 {
    position: absolute;
    top: 225px;
    left: 43px;
    width: 50px !important;
    height: 50px !important;
}

.bg_p1_img1_span {
    position: absolute;
    left: 60px;
    top: 280px;
    max-width: 106px;
    overflow: hidden;
    font-family: "Tahoma";
    font-size: 24px;
    font-weight: bold;
    padding-top: 22px;
    display: block;
    color: #6d6b96;
}

.bg_p1_img1_span1 {
    position: absolute;
    left: 47px;
    top: 278px;
}

.bg_p1_img2 {
    position: absolute;
    top: 230px;
    left: 160px;
}

.bg_p1_img2_span {
    position: absolute;
    left: 173px;
    top: 280px;
    max-width: 106px;
    overflow: hidden;
    font-family: "Tahoma";
    font-size: 24px;
    font-weight: bold;
    padding-top: 22px;
    display: block;
    color: #6d6b96;
}

.bg_p1_img2_span1 {
    position: absolute;
    left: 157px;
    top: 278px;
}

.bg_span_bottom_2 {
    border: 1px solid #ff4f3c;
    background-color: #ff7364;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    color: #fff !important;
    border-radius: 20px;
    font-size: 12px !important;
    top: 351px !important;
    left: 56px !important;
    cursor: pointer;
}

.bg_span_bottom_last {
    position: absolute;
    top: 422px;
    left: 54px;
}

.bg_p2 {
    width: 770px;
    height: 282px;
    position: absolute;
    top: 35px;
    right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bg_p2 div {
    text-align: center;
    border-radius: 14px;
}

.bg_p2 img {
    width: 130px;
    height: 130px;
}

.bg_p3 {
    position: absolute;
    top: 330px;
    width: 770px;
    height: 177px;
    right: 40px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
}

.bg_p3_div_div {
    width: 70px;
    height: 70px;
    border: 4px solid #FF7364;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg_p3 div span {
    display: inline-block;
    max-width: 100px;
    _width: 100px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    padding: 14px 10px 0;
    font-family: "microsoft yahei";
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff7364;
}

.bg_p3 img {
    width: 40px;
    height: 40px;
}

.separator_page5 {
    position: absolute;
    width: 2px;
    height: 90px;
    background-color: #6d6b96;
    top: 270px;
    left: 120px;
}

#p5_pic_list > div {
    height: 140px;
    width: 300px;
    position: relative;
}

#p5_pic_list > div :first-child {
    left: 30px;
    position: absolute;
    position: absolute;
    overflow: hidden;
    padding-top: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    font-family: "microsoft yahei";
}

#p5_pic_list > div :nth-child(2) {
    position: absolute;
    left: 32px;
    height: 80px;
    top: 60px;
    width: 120px;
    overflow: hidden;
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-family: "microsoft yahei";
}

#p5_pic_list > div img {
    position: absolute;
    top: -8px;
    right: 0px;
    height: 154px;
    width: 170px;
    overflow: hidden;
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-family: "microsoft yahei";
}

.guess_you_like {
    height: 40px;
    padding-right: 10px;
    line-height: 40px;
    color: #ff9841;
    font-size: 16px;
}

#recommend {
    position: relative;
}
#recommend ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#recommend ul li {
    width: 150px;
    height: 210px;
    margin: 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#recommend ul li img {
    width: 150px;
    height: 150px;
    background-color: #6d6b96;
}

.recommend_span_1 {
    width: 150px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff5e5e;
}

.recommend_span_2 {
    width: 150px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    display: block;
}

.slide_left {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 30px;
    top: 250px;
}

.slide_right {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 30px;
    top: 250px;
}
