* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

html,
body {
	height: 100%;
}

.location {
	width: 1rem;
}

.hd_header_bar {
	display: flex;
	justify-content: space-between;
	height: 30px;
}

.hd_header_bar div {
	display: flex;
}

span {
	font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
	color: #666;
}

em {
	font-style: normal;
	font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
}

.hd_header_wrap {
	height: 30px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: center;
	font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
}

.flex {
	display: flex;
	align-items: center;
}

.spanleft {
	padding-left: 3px;
}

.input_circle {
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	background-color: transparent;
	border-radius: 100px;
	outline: 0 none;
	height: 38px;
	line-height: 38px;
	border: 1px solid #e2e2e2;
	color: #333;
	background: #fcfcfc;
	padding-left: 32px;
}

.input_circle:active {
	border: 1px solid red;
}

.input_circle:focus {
	border: 1px solid red;
}

#goods {
	margin: 4px;
	padding-left: 32px;
}

#goods li {
	float: left;
	text-decoration: none;
	float: left;
	margin-right: 10px;
	line-height: 19px;
	font-size: 14px;
	color: #aaa;
}

.button {
	position: absolute;
	background-color: transparent;
	border: none;
}

.reletive {
	position: relative;
}

.search {
	position: absolute;
	top: 0.5rem;
	right: 9rem;
	border: none;
	background: transparent;
}

.font {
	font: 16px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
	color: #333;
}

.font li :hover {
    color: red;
    cursor: pointer;
}

#cart::-webkit-input-placeholder {
	color: black;
}

#cart:hover {
	border: 1px solid #e2e2e2;
}

ul li {
	float: left;
}

ul li:hover {
	float: left;
	color: red;
	cursor: pointer;
}

ul img {
	float: left;
}

#category {
	margin-left: 1.125rem;
	margin-right: 0.2rem;
}

.lunbodiv {
	width: 6.875rem;
	height: 2.5rem;
	background-color: white;
	text-align: center;
	line-height: 2.5rem;
	margin: 0.25rem;
	cursor: pointer;
}

.lunbodiv :hover {
	background-color: #333333;
}

.lunboparrent {
	display: flex;
	justify-content: center;
	margin-top: -1.25rem;
}

.superThing {
	width: 66.875rem;
	margin: 0 auto;
	height: 23.125rem;
}

ul li img {
	width: 6.875rem;
	height: 6.875rem;
}

#single {
	background-image: url(../img/single/super_single_bg.png);
	position: relative;
	width: 1070px;
	margin: 0 auto;
	height: 370px;
	text-align: center;
}

#s {
	width: 13.125rem;
	height: 13.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent
}

#single li {
	width: 13.125rem;
	height: 13.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.superThing #single :first-child {
	background-color: transparent;
	align-items: normal;
	justify-content: normal;
}
.superThing #single :first-child img{
	margin: 10px;
}

#s #single li {
	background-color: transparent !important;
}

#single > div > li:hover {
	transform: scale(1.2, 1.2);
}

#single li div {
	width: 9.5625rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.s_bar {
	margin-top: 0.625rem;
	background-color: #E2E2E2;
	border-radius: 100px;
	width: 9.375rem;
	height: 0.375rem;
}

#single .s_progress {
	width: 12%;
	height: 100%;
	border-radius: 6.25rem;
	background-color: #d9161d;
	background-image: linear-gradient(-90deg, #d9161d 0%, #f0444d 100%);
}

#single li div :nth-child(2) {
	color: red;
	font-family: Tahoma, "Microsoft YaHei";
	color: #e50113;
	font-weight: bold;
	font-size: 14px;
}

#single div li :hover {
	/*background-color: transparent;*/
}

#superlogo {
	width: 129px;
	height: 36px;
	cursor: pointer;
}

.font > li:hover {
	color: red;
}

.font2 {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8) !important;
	font-weight: bold;
	cursor: pointer;
	text-align: left;
	margin-left: 20px;
}

#timeline span{
	margin-left: 0px;
}

.underline {
	text-decoration: line-through;
	font-size: 12px;
	color: #999;
	font-weight: normal;
	margin-left: 4px;
}

.separator{
	width: 20px;
	height: 5px;
	background-color: white;
	margin-left: 20px;
	margin-top: 7px;
}

#clock {
	width: 1.25rem;
	height: 1.25rem;
	float: none;
}

.intro {
	color: #B77347;
	height: 35px;
	margin-left: 20px;
	margin-top: 12px;
	font-size: 26px;
	display: inline-block;
	cursor: pointer;
	max-width: 190px;
	overflow: hidden;
}
#timeline{
	display: flex;
	align-items: center;
	left: -6px;
	margin-left: 6px;
}
.time{
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #161616 !important;
	color: #fff;
	font-size: 20px;
	font-family: Tahoma;
	font-weight: bold;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left: 6px;
}

#timeline2{
	/*position: absolute;*/
	/*margin-top: 56px;*/
	margin-left: 6px;
}

.intro{
	color: #B77347;
	height: 35px;
	margin-left: 20px;
	margin-top: 12px;
	font-size: 26px;
	display: inline-block;
	cursor: pointer;
	max-width: 190px;
	overflow: hidden;
}
.intro2{
	color: rgba(183,115,71,0.7);
	margin-left: 8px;
	font-size: 16px;
	margin-top: 27px;
	height: 21px;
	cursor: pointer;
	display: inline-block;
	max-width: 208px;
	overflow: hidden;
	position: relative;
	top: -3px;
}
.introdiv{
	width: 900px;
	height: 334px;
	position: relative;
	padding-left: 20px;
}

.introdiv img :hover {
	transform: translate(-10px, 0);
}

#intro1 {
	/*background-image: url("../img/intro/index.jpg");*/
	width: 189px;
}

#intro {
	position: absolute;
	left: 13px;
	top: 20px;
}

#intro li {
	width: 76px;
	height: 25px;
	border: 1px solid white;
	margin: 3px;
	text-align: center;
	color: white;
}

#intro2 {
	position: relative;
}

#intro2 img {
	width: 110px;
	height: 110px;
	position: absolute;
	right: 23px;
	top: 30px;
}

#intro2 a div {
	border: 1px solid rgba(228, 147, 55, 0.5) !important;
	color: #e49337 !important;
	font-size: 14px;
	cursor: pointer;
	overflow: hidden;
	left: 30px;
	top: 100px;
	position: absolute;
	padding: 7px;
}

.intro_wine {
	position: absolute !important;
	width: 90px !important;
	height: 90px !important;
	top: 50px !important;
	right: 10px !important;
}

.span1 {
	margin-top: 40px;
	color: #793a11;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 150px;
	margin-left: 30px;
	font-size: 14px;
	position: absolute;
}

.span2 {
	color: #b77347;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 150px;
	margin-left: 30px;
	font-size: 14px;
	position: absolute;
	top: 62px;
}

#intro_wine_rice {
	width: 335px;
	height: 50%;
	display: flex
}

#intro_wine_rice a :nth-child(1) {
	margin-left: 15px;
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	overflow: hidden;
	height: 14px;
	width: 102px;
	line-height: 1;
	margin-bottom: 7px;
}

#intro_wine_rice a :nth-child(2) {
	margin-left: 15px;
	font-size: 14px;
	color: #999;
	margin-top: -1px;
	overflow: hidden;
	height: 14px;
	width: 102px;
	line-height: 1;
	margin-bottom: 7px;
}

#rank_intro {
	width: 33%;
	height: 100%;
	background-color: white;
	position: relative;
}

#rank_intro :nth-child(2) {
	margin-top: 20px;
}

#rank_intro .rank_intro_span2 {
	font-size: 14px;
	color: #999;
	margin-top: 7px;
	width: 130px;
	height: 21px;
	overflow: hidden;
	white-space: nowrap;
}
#rank_intro div div{
	height: 90px;
	width: 90px;
	background-color: white;
}

#rank_intro img .c {
	width: 60px;
	height: 60px;
	text-align: center;
}

#ranklist {
	height: 90px;
	width: 90px;
	background-color: white;
	position: absolute;
	left: 25px;
	top: 82px;
}

/*#ranklist div {*/
/*	width: 90px;*/
/*	height: 90px;*/
/*	background-color: black !important;*/
/*	text-align: center;*/
/*	display: table-cell;*/
/*	vertical-align: middle;*/
/*}*/

/*#ranklist div span {*/
/*	width: 90px;*/
/*	height: 90px;*/
/*	background-color: black !important;*/
/*	text-align: center;*/
/*	display: table-cell;*/
/*	vertical-align: middle;*/
/*}*/

.rankdemo {
	position: relative;
}

.rankdemo img :nth-child(1) {
	position: absolute;
	margin: 0px !important;
}

.rankdemo :nth-child(2) {
	position: absolute;
	margin: 0px !important;
}

.rankdemo :last-child {
	position: absolute;
	width: 60px;
	height: 60px;
	margin: 0px !important;
	left: 15px;
	top: 18px;
}

.rankdemo span {
	z-index: 99;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

.array {
	background-color: transparent !important;
}

.array img {
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.array :nth-child(1) {
	position: absolute;
	margin-left: 20px;
	opacity: 0.3;
}

.array :nth-child(2) {
	position: absolute;
	left: 50px;
	bottom: -216px;
}

.intro_div {
	width: 1070px;
	height: 421px;
	margin: 0 auto;
	display: flex;
	margin-top: 100px;
	background-color: white;
}

.intro_div img:hover {
	transform: translateX(-10px);
	transition: transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease, -o-transform .4s ease;
}

.intro_a1 {
	width: 335px;
	height: 50%;
	background-color: #faf7f6;
	display: block
}

.intro_a2 {
	background-color: white;
	height: 100%;
	display: block;
	position: relative;
	width: 50%
}

.intro_a3 {
	height: 100%;
	width: 335px;
	display: block;
	background-color: #faf7f6
}

#sticky {
	text-align: center;
	position: sticky;
	top: 70px;
	left: 1290px;
	height: 180px;
	width: 100px;
	background-color: white;
	z-index: 99;
}

#sticky2 {
	text-align: center;
	position: sticky;
	top: 800px;
	left: 1290px;
	height: 30px;
	width: 100px;
	background-color: white;
	z-index: 99;
	line-height: 40px;
	cursor: pointer;
}


#sticky span {
	height: 30px;
	line-height: 34px;
	letter-spacing: 1px;
	font-size: 14px;
}


#sticky :nth-child(2) {
	width: 76px;
	height: 76px;
}

#sticky :nth-child(3) {
	width: 100px;
	height: 28px;
}

#sticky :nth-child(4) {
	border-top: 0.5px solid #E2E2E2;
	display: flex;
	vertical-align: center;
	cursor: pointer;
}

#sticky :nth-child(4) img {
	width: 20px;
	height: 20px;
	margin-top: 7px;
	margin-left: 15px;
}

.p_money {
	font-size: 14px !important;
	color: #666 !important;
	margin-top: -1px !important;
	overflow: hidden !important;
	height: 14px !important;
	width: 102px !important;
	line-height: 1 !important;
	margin-bottom: 7px !important;
}

#intro_ad {
	text-align: center;
}

#intro_ad ul {
	display: flex;
	justify-content: center;
}

#intro_ad ul li {
	background-color: white;
	height: 240px;
	margin: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	transition: all .3s ease;
	line-height: 20px;
}

#intro_ad ul li img {
	width: 150px;
	height: 150px;
	margin: 10px;
}

#intro_ad ul li :nth-child(2) {
	word-break: break-all;
	width: 150px;
	height: 38px;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 14px;
	color: #333;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	line-height: 20px;
}

#intro_ad ul li :nth-child(3) {
	margin-left: 8px;
	font-size: 14px;
	color: #ff4040;
	font-weight: bold;
	margin-top: 8px;
	float: left;
	display: inline-flex;
}

#bottom_parent {
    background-color: white;
}

#bottom {
    width: 1080px;
    margin: 0 auto;
}

#bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#bottom ul li {
    width: 1080px;
    margin: 40px 40px 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bottom ul li b {
    margin: 10px 0;
}

#bottom ul li div {
    margin-left: 10px;
}

#bottom ul li img {
    width: 66px;
    height: 66px;
}

#bottom dl {
    float: left;
    display: block;
    width: 195px;
}

#bottom dl dt {
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
}

#bottom dl dd {
    height: 24px;
    padding: 0 8px;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    font-size: 12px;
}

#bottom dl dd:hover {
	cursor: pointer;
	color: red;
}
.bottom_code {
    display: flex;
    flex-direction: column;
}


.bottom_code span {
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.bottom_code img {
    width: 90px;
    height: 90px;
}


#bottom_span {
    position: absolute;
    text-align: center;
    border: none;
    margin-left: 64px;
	left: 0px;
}

#bottom_span a {
    color: #333;
    margin: 0px 3px;
    font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
}

#bottom_span a:hover {
	color: red;
}


#bottom_span span {
    display: block;
    margin: 10px 0px;
}

.page {
	float: right;
}

.page li {
	border: 1px solid #F2855F;
	background: #ff8c64;
	color: #fff;
	float: left;
	width: 34px;
	height: 34px;
	overflow: hidden;
	margin-left: 5px;
	padding: 9px 0;
	line-height: 14px;
	font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
	font-size: 16px;
	font-family: Arial;
	text-align: center;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.page .ellipsis {
	border: none;
	background: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: "Microsoft Yahei";
	float: left;
	width: 34px;
	height: 16px;
	overflow: hidden;
	margin-left: 5px;
	padding: 9px 0;
	color: #999;
	font-size: 16px;
	text-align: center;
	line-height: 14px;
}

.hidden_category {
	visibility: hidden;
	position: absolute;
	top: 210px;
	width: 1040px;
	height: 400px;
	background-color: white;
	left: 207px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	z-index: 99;
	border: 1px solid red;
}

.hidden_category > div {
}


.hidden_category p {
	color: #000;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 4px;
}

.hidden_category ul li {
	font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
	margin: 5px;
	color: #000;
}

#p1_uname {
	width: 140px;
	height: 40px;
	background-color: red;
	z-index: 9999;
	opacity: 1;
	display: flex;
	align-items: center;
	padding: 0 10px;
	cursor: pointer;
}

#p1_uname:hover .hidden_category {
	visibility: visible;
}

.p1_img_bottom img{
	width: 48px;
	height: 48px;
}

.p1_img_bottom>div{
	width: 48px;
	height: 48px;
	border: 1px solid #ff4040;
	border-radius: 50%;
}


