body {
    margin: 0px;
    font: 12px Arial, Helvetica, sans-serif;
}

#top {
    position: relative;
    height: 82px;
    background-color: white;
    border: 1px solid #e1e1e1;
}

#top img {
    position: absolute;
    left: 140px;
    top: 50%;
    width: 145px;
    height: 55px;
    margin-top: -27.5px
}

#top span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
}

/*#main {*/
/*    background-color: #e2e2e2;*/
/*    position: relative;*/
/*}*/

/*#index_left {*/
/*    position: absolute;*/
/*    left: 220px;*/
/*    top: 100px;*/
/*}*/

/*#index_right {*/
/*    position: absolute;*/
/*    width: 330px;*/
/*    height: 360px;*/
/*    background-color: #3c8020;*/
/*    right: 240px;*/
/*    top: 80px;*/
/*    padding: 45px 35px 0 35px;*/
/*}*/

/*#index_right b {*/
/*    font-size: 14px;*/
/*    color: #666;*/
/*    font-weight: bold;*/
/*    line-height: 30px;*/
/*}*/

/*.input_1 {*/
/*    position: relative;*/
/*    z-index: 100;*/
/*    height: 24px;*/
/*    margin-bottom: 10px;*/
/*    padding: 14px 18px;*/
/*    border: 1px solid #dedede;*/
/*    background: #FFF;*/
/*    line-height: 24px;*/
/*}*/

/*.input_1 input {*/
/*    outline: none;*/
/*    border: none;*/
/*    width: 230px;*/
/*    color: #ccc;*/
/*    height: 24px;*/
/*    padding-left: 3px;*/
/*    border: 0 none;*/
/*    line-height: 24px;*/
/*    vertical-align: middle;*/
/*    font-family: "Microsoft YaHei";*/
/*    font-size: 14px;*/
/*}*/

/*.input_1 img {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/

/*.input_2 {*/
/*    position: relative;*/
/*    z-index: 100;*/
/*    height: 24px;*/
/*    margin-bottom: 10px;*/
/*    padding: 14px 18px;*/
/*    border: 1px solid #dedede;*/
/*    background: #FFF;*/
/*    line-height: 24px;*/
/*}*/

/*.input_2 input {*/
/*    outline: none;*/
/*    border: none;*/
/*    width: 230px;*/
/*    color: #ccc;*/
/*    height: 24px;*/
/*    padding-left: 3px;*/
/*    border: 0 none;*/
/*    line-height: 24px;*/
/*    vertical-align: middle;*/
/*    font-family: "Microsoft YaHei";*/
/*    font-size: 14px;*/
/*}*/

/*.input_2 img {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/

/*.font_999 {*/
/*    font: 12px Arial, Helvetica, sans-serif;*/
/*    color: #999;*/
/*}*/

/*#login_btn {*/
/*    width: 330px;*/
/*    height: 52px;*/
/*    border: 0 none;*/
/*    border-radius: 3px;*/
/*    background: #ff3c3c;*/
/*    font-size: 16px;*/
/*    color: #FFF;*/
/*    cursor: pointer;*/
/*    text-shadow: 1px 1px 1px #ff7373;*/
/*    font-family: "Microsoft YaHei";*/
/*    line-height: 52px;*/
/*    text-align: center;*/
/*}*/

/*.index_icon {*/
/*    width: 32px;*/
/*    height: 35px;*/
/*}*/


.border {
    position: absolute;
    width: 360px;
    background: white;
    height: 360px;
    right: 260px;
    top: 80px;
}

.border:after {
    position: absolute;
    bottom: -1px;
    right: -1px;
    content: "";
    border-left: 50px solid transparent;
    border-bottom: 50px solid #d9d9d9;
}

.borderInner {
    position: absolute;
    /*bottom: -1px;*/
    /*z-index: 2;*/
    right: -1px;
    border-left: 48.5px solid transparent;
    /*border-bottom: 48.5px solid #f2f2f2;*/
}

.a1 {
    position: absolute;
    bottom: -1px;
    z-index: 3;
    right: -1px;

}

.triangle_left {
    width: 0;
    height: 0;
    border-width: 0 0 40px 40px;
    border-style: solid;
    border-color: transparent transparent #d9d9d9;
    position: relative;
}

.triangle_left .triangle_left_span {
    display: block;
    width: 0;
    height: 0;
    border-width: 0 0 38px 38px;
    border-style: solid;
    border-color: transparent transparent white;
    position: absolute;
    top: 1px;
    left: -38px;
}

.borderLeft {
    height: 38px;
    width: 0;
    border-right: 1px solid #d9d9d9;
    position: absolute;
    top: 1px;
    left: -1px;
    z-index: 20;
}

body {
    margin: 0px;
}

#top {
    position: relative;
    height: 82px;
    background-color: white;
    border: 1px solid #e1e1e1;
}

#top img {
    position: absolute;
    left: 140px;
    top: 50%;
    width: 145px;
    height: 55px;
    margin-top: -27.5px
}

#top span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 220px;
}

#main {
    background-color: #fafafa;
    position: relative;
    height: 774px;
}

#index_left {
    position: absolute;
    left: 220px;
    top: 100px;
}

#index_right {
    position: absolute;
    width: 330px;
    height: 360px;
    right: 15px;
    top: 10px;
    /*padding: 45px 35px 0 35px;*/
}

#index_right b {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}

.input_1 {
    position: relative;
    z-index: 100;
    height: 24px;
    margin-bottom: 10px;
    padding: 14px 18px;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
}

.input_1 input {
    outline: none;
    border: none;
    width: 230px;
    height: 24px;
    padding-left: 3px;
    border: 0 none;
    line-height: 24px;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}

.input_1 img {
    width: 20px;
    height: 20px;
}

.input_2 {
    position: relative;
    z-index: 100;
    height: 24px;
    margin-bottom: 10px;
    padding: 14px 18px;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
}

.input_2 input {
    outline: none;
    border: none;
    width: 230px;
    height: 24px;
    padding-left: 3px;
    border: 0 none;
    line-height: 24px;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}

.input_2 img {
    width: 20px;
    height: 20px;
}

.font_999 {
    font: 12px Arial, Helvetica, sans-serif;
    color: #999;
}

#login_btn {
    width: 330px;
    height: 52px;
    border: 0 none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    font-family: "Microsoft YaHei";
    line-height: 52px;
    text-align: center;
}

.index_icon {
    width: 32px;
    height: 35px;
}

#bottom_span {
    position: absolute;
    text-align: center;
    border: none;
    margin-left: 64px;
    left: 0px;
}

.current{
    display: block;
}
.none{
    display: none;
}
